@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,body{
	height: 100%;
    background-color: rgb(13, 21, 70);
    overflow: auto;
}

body.active{
    overflow-y: hidden;
}


      /*NAVEGACAO PAGINA INICIAL*/


/*Menu de navegaçao*/

.menudenavegacao{
    height: 50px;
    background-color: rgb(3, 8, 41);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/*Botao de navegaçao e rolagem*/

.botaoderolagem>img{
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.botaodenavegacao{
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.botaodenavegacao::after{
    content: "";
    position: absolute;
    top: 7px;
    height: 5px;
    width: 30px;
    background-color: white;
}

.botaodenavegacao::before{
    content: "";
    position: absolute;
    top: 18px;
    height: 5px;
    width: 30px;
    background-color: white;
}


/*Painel de navegaçao*/

.paineldenavegacao{
    height: 0px;
    width: 100%;
    background-color:  rgb(14, 23, 85);
    position: fixed;
    top: 49px;
    display: block;
    overflow: hidden;
    transition: 0.5s linear;
    z-index: 999;
    overflow-y: visible;
}

.paineldenavegacao>a{
    text-decoration: none;
}

.paineldenavegacao>div>a{
    text-decoration: none;
}

/*Topicos de navegaçao*/

.topicosnavegacao{
    padding: 25px 20px;
    background-color: rgb(14, 23, 85);
    color: white;
    border-bottom: 2px solid  rgb(13, 23, 87);
    font-size: 17px;
}

.topicosnavegacao:focus{
    background-color: rgb(14, 23, 85);
}

.topicosnavegacaoimg{
    position: absolute;
    right: 50px;
    margin-top: 5px;
    width: 18px;
    filter: invert();
}

.topicosnavegacaosobre{
    padding: 25px 50px;
    background-color: rgb(14, 23, 85);
    color: white;
    border-bottom: 2px solid  rgb(3, 8, 41);
    font-size: 17px;
    text-decoration: none;
}

.topicosnavegacaosobreativar{
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.profilepaginainicial{
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url();
}


/*Java Script da navegaçao*/

.paineldenavegacao.active{
    display: block;
    width: 100%;
    height: 100%;
}

.topicosnavegacaosobreativar.active{
    height: 225px;
}


        /*SECTION PAGINA INICIAL*/

.sectionprojetopaginainicial{
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: rgb(14, 23, 85);
}

.sobreoprojetopaginainicial{
    width: 100%;
    background-color: transparent;
    padding-top: 40px;
    padding-bottom: 60px;
    top: 50px;
}

.titulosobreoprojetopaginainicial{
    margin-left: 22px;
    font-size: 25px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgb(67, 74, 124);
}

.paragrafosobreoprojetopaginainicial{
    margin-left: 22px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgb(67, 74, 124);
    margin-top: 5px;
    padding-right: 10px;
}



/* Area Adote */

.areaporqueadotar{
    background-color: rgb(3, 8, 41);
    border-radius: 15px 15px 0px 0px;
    animation: subirocachorro 0.8s linear;
    padding-bottom: 5px;
    padding-top: 40px;
}

@keyframes subirocachorro {
    
    0% { margin-top: 50px;}
    100% { margin-top: 0px;}

}

.flexporqueadotar{
    display: flex;
    justify-content: space-between;
}

.flexporqueadotar>img{
    width: 130px;
    position: absolute;
    top: 135px;
    right: 20px;
    animation: dogadotar 5s linear infinite;
}

@keyframes dogadotar {

    0% { rotate: 5deg;}
    25% {}
    50% { rotate: -5deg;}
    75% {}
    100% { rotate: 5deg;}
    
}

.sobreadotarpaginainicial{
    background-color: rgb(3, 8, 41);
    margin-top: -1px;
}

.paragrafosobreadotarpaginainicial>img{
    width: 25px;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 5px;
}

.subtitulosobreoprojetopaginainicial{
    margin-left: 22px;
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-shadow: 2px 2px 5px rgb(67, 74, 124);
    margin-right: 5px;
}

.paragrafosobreadotarpaginainicial{
    padding-right: 30px;
    padding-left: 22px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgb(67, 74, 124);
    padding-top: 5px;
    width: 100%;
    padding-bottom: 5px;
    background-color: rgb(3, 8, 41);
}


/* Area Adote JAVA SCRIPT*/

.mais5motivos{
    font-size: 15px;
    color: rgb(50, 226, 50);
    padding-left: 42px;
    padding-right: 42px;
    width: 100%;
    background-color: rgb(3, 8, 41);
    padding-bottom: 15px;
    display: none;
    animation: verde 0.7s linear;
}

@keyframes verde {
    0% {opacity: 0%;}
    100% {opacity: 100%;}

}

.mais5motivosesconder1.active{
    display: block;
}

.mais5motivosesconder2.active{
    display: block;
}

.mais5motivosesconder3.active{
    display: block;
}

.mais5motivosesconder4.active{
    display: block;
}

.mais5motivosesconder5.active{
    display: block;
}

/* Correçao embaixo dos 5 motivos */

.posadocao{
    height: 40px;
    background-color: rgb(3, 8, 41);
    border-radius: px 0px 15px 15px;
}

/* Sistema de Pontos */

/* Sistema de Pontos */

.sistemadepontos{
    margin-top: -10px;
    background-color: rgb(14, 23, 85);
    border-radius: 15px 15px 0px 0px;
    transition: 1s;
    padding-bottom: 50px;
    padding-top: 40px;
}

.titulosistemadepontospaginainicial{
    margin-left: 22px;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgb(67, 74, 124);
}

.paragrafosistemadepontospaginainicial{
    margin-left: 22px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgb(67, 74, 124);
    margin-top: 10px;
    padding-right: 10px;
}

.paragrafosistemadepontospaginainicial>a{
    text-decoration: none;
    color: rgb(50, 226, 50);;
}

.flexsistemadepontos>img{
    width: 30px;
    margin-left: 15px;
}

.flexsistemadepontos{
    display: flex;
}

/* #Foto de seu Pet */

/* #Foto de seu Pet */

.fotodoseupet{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(3, 8, 41);
    border-radius: 20px 20px 20px 20px;
    margin-top: -10px;
}


/* Metas */

/* Metas */


.metas{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(14, 23, 85);
    border-radius: 15px 15px 0px 0px;
    transition: 1s; 
} 

.titulometaspaginainicial{
    margin-bottom: 20px;
    margin-left: 22px;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgb(67, 75, 134);
}

#metaaumentar>img , #metadiminuir>img , #dadosaumentar>img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#metaaumentar{
    margin: 0 auto;
    align-items: center;
    display: flex;
    height: 50px;
    background-color:  rgb(3, 8, 41);
    width: 90%;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}

#metaaumentar>p{
    color: rgb(82, 240, 95);
    margin-left: 20px;
    font-size: 17px;
}

.dadosadocao{
    position: relative;
    top: -25px;
    margin: 0 auto;
    height: 0px;
    background-color:  rgb(3, 8, 41);
    width: 90%;
    border-radius: 10px 10px 20px 20px;
    overflow: hidden;
    transition: 1s;
}

.metas.active .dadosadocao{   
    height: 120px;
}

.dadosadocao>p{
    position: relative;
    top: 40px;
    color: rgb(82, 240, 95);
    margin-left: 20px;
    font-size: 17px;
    margin-bottom: 10px;
}

.dadosadocao>p>span{
    color: gray;
}

/* Footer da pagina inicial */

/* Footer da pagina inicial */

.areafinalpaginainicial{
    height: 330px;
    width: 100%;
    background-color: rgb(3, 8, 41)
}

.footersocialmedias{

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 80%;
    position: relative;
    top: 30px;
    padding: 0px;
    transform: translate(-50%);
    left: 50%;
}

.footersocialmedias>a>img{
    width: 40px;
}

.allfooter{
    position: relative;
    top: 30px;
}

.footerlist > ul >  a{
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: relative;
}

.allfooter h1{
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: rgb(31, 45, 137);
    font-size: 18px;
    margin-bottom: 0px;
}

.allfooter div{
    margin-top: 20px;
}

/* COMEÇO DA LOGIN PAGE */

/* COMEÇO DA LOGIN PAGE */

/* COMEÇO DA LOGIN PAGE */

.loginpage{
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 8, 41);
    
}

.formloginpage{
    overflow: hidden;
    height: 600px;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 30px;
    margin: 0 auto;
    border-radius: 15px;
    background-image: linear-gradient( to bottom right , rgb(9, 17, 74) , rgb(2, 15, 43) );
}

.formloginpage::after{
   content: "";
   position: absolute;
   top: 0px;
   right: 0;
   height: 600px;
   width: 60000px;
   background-image: url(stars.png);
   background-size: contain;
   opacity: 50%;
   z-index: 0;
   animation: backstars 2400s infinite linear, backstarsop 4s infinite linear;
}

@keyframes backstars {
    0% { opacity: 30%; right: -10px;}
    100% { opacity: 30%; right: -60000px}
}

@keyframes backstarsop {
    0% { opacity: 50%;}
    50% { opacity: 15%;}
    100% { opacity: 50%;}
}


.fieldsetloginpage{
    height: 500px;
    width: 90%;
    margin: 0 auto;
    border: none;
    z-index: 1;
}

.fieldsetloginpage>h1{
    color: white;
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.inputsbox{
    display: flex;
    flex-direction: column;
}

.inputsbox>p{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    flex-direction: column;
    padding-left: 10px;
    font-size: 20px;
    color: white;
    border: none;
}

.inputsbox>input{
    height: 35px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    flex-direction: column;
    padding-left: 10px;
    font-size: 17px;
    background-color: transparent;
    color: white;
    border: none;
    transition: padding 0.5s;
    z-index: 1;

}

.inputsbox>input::placeholder{
    font-size: 16px;
    color: rgb(158, 146, 146);
}

.inputsbox>input:focus{
    outline: none;
    padding-left: 20px;
}

.inputssendbox{
    display: flex;
    margin-top: 10px;
    z-index: 1;
}

.inputssendbox>input{
    height: 40px;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 17px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    z-index: 1;
    cursor: pointer;
}

::-ms-reveal{
    filter: invert();
}

.areafinalloginpage{
    position: relative;
    top: 50px;
    color: rgb(170, 170, 170);
    width: 90%;
    margin: 0 auto;
    padding-bottom: 70px;
    font-size: 13px;
}

.areafinalloginpage>p>a{
    text-decoration: none;
    color: rgb(3, 79, 255);
}

.mato{
    width: 120px;
    position: absolute;
    top: 110px;
    right: 10px;
    margin-right: 5px;
    z-index: 2;
    cursor: pointer;
    animation: imgcadastro 1.3s , imgcadastrorotate 2s infinite linear ;
}

@keyframes imgcadastro {
    
    0% { margin-right: 0px; margin-top: 150px; opacity: 0%;}
    50% { margin-right: 5px;}
    100% { margin-right: 5px; opacity: 100%;}
}

@keyframes imgcadastrorotate {
    0% {rotate: 0deg;}
    50% {rotate: 5deg;}
    100% {rotate: 0deg;}
}

.mato:focus{
    opacity: 0%;
    animation: desaparecerimgmato 1s linear;
}

@keyframes desaparecerimgmato {

    0% { opacity: 100% ; rotate: 0deg; width: 120px; margin-right: 0;}
    100% {opacity: 0%; rotate: 420deg; width: 60px; margin-right: -50px;} 
}



/* CORREÇAO PARA DISPOSITIVOS MOBILE ANTIGO*/

@media (max-width: 340px) {

.titulosobreoprojetopaginainicial{
    margin-left: 10px;
}
    
.paragrafosobreoprojetopaginainicial{
    margin-left: 10px;
}


.subtitulosobreoprojetopaginainicial{
    margin-left: 10px;
    margin-top: 0px;
}

.paragrafosobreadotarpaginainicial{
    padding-right: 5px;
    padding-left: 10px;
}

/* Area Adote JAVA SCRIPT*/


.mais5motivos{
    padding-left: 25px;
}

.titulosistemadepontospaginainicial{
    margin-left: 10px;
}

.paragrafosistemadepontospaginainicial{
    margin-left: 10px;
}

.flexporqueadotar>img{
    top: 155px;
}

}




