
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,body{
	height: 100%;
    background-color: rgb(167, 165, 165);
}

body.active{
    overflow-y: hidden;
}


      /*NAVEGACAO PAGINA INICIAL*/


/*Menu de navegaçao*/

.menudenavegacao{
    height: 50px;
    background-color: rgb(167, 165, 165);
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin: -1px;
}

/*Botao de navegaçao e rolagem*/

.botaoderolagem>img{
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.botaodenavegacao{
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.botaodenavegacao::after{
    content: "";
    position: absolute;
    top: 7px;
    height: 5px;
    width: 30px;
    background-color: white;
}

.botaodenavegacao::before{
    content: "";
    position: absolute;
    top: 18px;
    height: 5px;
    width: 30px;
    background-color: white;
}


/*Painel de navegaçao*/

.paineldenavegacao{
    height: 0px;
    width: 100%;
    background-color:  rgb(221, 221, 221);
    position: fixed;
    top: 49px;
    display: block;
    overflow: hidden;
    transition: 0.5s linear;
    z-index: 999;
    overflow-y: visible;
}

.paineldenavegacao>a{
    text-decoration: none;
}

.paineldenavegacao>div>a{
    text-decoration: none;
}

/*Topicos de navegaçao*/

.topicosnavegacao{
    padding: 25px 20px;
    background-color: rgb(221, 221, 221);
    color: black;
    border-bottom: 2px solid  rgb(201, 201, 201);
    font-size: 15px;
}

.topicosnavegacaoimg{
    position: absolute;
    right: 50px;
    margin-top: 5px;
    width: 18px;
}

.topicosnavegacaosobre{
    padding: 25px 50px;
    background-color: rgb(221, 221, 221);
    color: black;
    border-bottom: 2px solid  rgb(201, 201, 201);
    font-size: 15px;
    text-decoration: none;
}

.topicosnavegacaosobreativar{
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}


/*Java Script da navegaçao*/

.paineldenavegacao.active{
    display: block;
    width: 100%;
    height: 100%;
}

.topicosnavegacaosobreativar.active{
    height: 225px;
}


        /*SECTION PAGINA INICIAL*/

.sectionprojetopaginainicial{
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: rgb(221, 221, 221);
}

.sobreoprojetopaginainicial{
    width: 100%;
    background-color: transparent;
    top: 30px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.titulosobreoprojetopaginainicial{
    margin-left: 22px;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.paragrafosobreoprojetopaginainicial{
    margin-left: 22px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    padding-right: 10px;
}

/* Area Adote */

.sobreadotarpaginainicial{
    background-color: rgb(200, 200, 200);
    margin-top: -1px;
    border-radius: 15px 15px 0px 0px;
    animation: subirtamanho 1s linear;
    margin-top: 0px;
}

.subtitulosobreoprojetopaginainicial{
    padding-right: 10px;
    padding-left: 22px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding-top: 40px;
}

.paragrafosobreadotarpaginainicial{
    padding-right: 10px;
    padding-left: 22px;
    font-size: 17px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    width: 100%;
    padding-bottom: 5px;
    background-color: rgb(200, 200, 200);
}

.paragrafosobreadotarpaginainicial>img{
    width: 25px;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Area Adote JAVA SCRIPT*/

.mais5motivos{
    font-size: 14px;
    color: rgb(54, 54, 54);
    padding-left: 42px;
    padding-right: 42px;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding-bottom: 15px;
    display: none;
    animation: verde 1s linear;
}

@keyframes verde {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes subirtamanho {
    0% {margin-top: 50px;}
    100% { margin-top: 0;}

}

.mais5motivosesconder1.active{
    display: block;
}

.mais5motivosesconder2.active{
    display: block;
}

.mais5motivosesconder3.active{
    display: block;
}

.mais5motivosesconder4.active{
    display: block;
}

.mais5motivosesconder5.active{
    display: block;
}

/* Correçao embaixo dos 5 motivos */

.posadocao{
    height: 40px;
    margin-top: -1px;
    background-color: rgb(200, 200, 200);
    border-radius: px 0px 15px 15px;
}

/* Sistema de Pontos */

.sistemadepontos{
    margin-top: -10px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px 15px 0px 0px;
    transition: 1s;
    padding-bottom: 40px;
}

.titulosistemadepontospaginainicial{
    padding-top: 40px;
    margin-left: 22px;
    margin-bottom: 10px;
    font-size: 22px;
    color: black;
}

.paragrafosistemadepontospaginainicial{
    margin-left: 22px;
    font-size: 17px;
    color: black;
    margin-top: 0px;
    padding-right: 10px;
}

.paragrafosistemadepontospaginainicial>a{
    text-decoration: none;
    color: rgb(160, 144, 144);
}


/* Metas */

.metas{
    height: auto;
    background-color: rgb(200, 200, 200);
    border-radius: 15px 15px 0px 0px;
    transition: 1s;
    padding-bottom: 40px;
}

.titulometaspaginainicial{
    position: relative;
    padding-top: 40px;
    margin-left: 22px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

#metaaumentar>img , #metadiminuir>img , #dadosaumentar>img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#metaaumentar{
    margin: 0 auto;
    align-items: center;
    display: flex;
    height: 50px;
    background-color: rgb(221, 221, 221);
    width: 90%;
    border-radius: 50px;
    z-index: 1;
    position: relative;
}

#metaaumentar>p{
    color: black;
    margin-left: 20px;
    font-size: 17px;
}

.dadosadocao{
    position: relative;
    top: -25px;
    margin: 0 auto;
    height: 0px;
    background-color: rgb(167, 165, 165);;
    width: 90%;
    border-radius: 10px 10px 20px 20px;
    overflow: hidden;
    transition: 1s;
}

.metas.active .dadosadocao{   
    height: 120px;
}

.dadosadocao>p{
    position: relative;
    top: 40px;
    color: rgb(49, 49, 49);
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.dadosadocao>p>span{
    color: rgb(0, 0, 0);
}

/* CORREÇAO PARA DISPOSITIVOS MOBILE ANTIGO*/

@media (max-width: 340px) 

{
.titulosobreoprojetopaginainicial{
    margin-left: 10px;
}
    
.paragrafosobreoprojetopaginainicial{
    margin-left: 10px;
}

.paragrafosobreadotarpaginainicial>img{
    margin-left: 5px;
}

.subtitulosobreoprojetopaginainicial{
    margin-left: 10px;
    margin-top: 80px;
}

.paragrafosobreadotarpaginainicial{
    padding-right: 5px;
    padding-left: 10px;
}

/* Area Adote JAVA SCRIPT*/

.mais5motivos{
    padding-left: 25px;
}

.titulosistemadepontospaginainicial{
    margin-left: 10px;
}

.paragrafosistemadepontospaginainicial{
    margin-left: 10px;
}

.dogimagempaginainicial>img{
    width: 140px;
}

.dogimagempaginainicial{
    height: 100px;
}

.subtitulosobreoprojetopaginainicial{
    margin-top: 60px;
}


}




