
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,body{
	height: 100%;
    background-color: rgb(167, 165, 165);
}

body.active{
    overflow-y: hidden;
}


      /*NAVEGACAO PAGINA INICIAL*/


/*Menu de navegaçao*/

.menudenavegacao{
    height: 50px;
    background-color: rgb(167, 165, 165);
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin: -1px;
}

/*Botao de navegaçao e rolagem*/

.botaoderolagem>img{
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.botaodenavegacao{
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.botaodenavegacao::after{
    content: "";
    position: absolute;
    top: 7px;
    height: 5px;
    width: 30px;
    background-color: white;
}

.botaodenavegacao::before{
    content: "";
    position: absolute;
    top: 18px;
    height: 5px;
    width: 30px;
    background-color: white;
}


/*Painel de navegaçao*/

.paineldenavegacao{
    height: 0px;
    width: 100%;
    background-color:  rgb(221, 221, 221);
    position: fixed;
    top: 49px;
    display: block;
    overflow: hidden;
    transition: 0.5s linear;
    z-index: 999;
    overflow-y: visible;
}

.paineldenavegacao>a{
    text-decoration: none;
}

.paineldenavegacao>div>a{
    text-decoration: none;
}

/*Topicos de navegaçao*/

.topicosnavegacao{
    padding: 25px 20px;
    background-color: rgb(221, 221, 221);
    color: black;
    border-bottom: 2px solid  rgb(201, 201, 201);
    font-size: 18px;
}

.topicosnavegacaoimg{
    position: absolute;
    right: 50px;
    margin-top: 5px;
    width: 18px;
}

.topicosnavegacaosobre{
    padding: 25px 50px;
    background-color: rgb(221, 221, 221);
    color: black;
    border-bottom: 2px solid  rgb(201, 201, 201);
    font-size: 18px;
    text-decoration: none;
}

.topicosnavegacaosobreativar{
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}


/*Java Script da navegaçao*/

.paineldenavegacao.active{
    display: block;
    width: 100%;
    height: 100%;
}

.topicosnavegacaosobreativar.active{
    height: 225px;
}


        /*SECTION PAGINA INICIAL*/

.sectionprojetopaginainicial{
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: rgb(221, 221, 221);
}

.sobreoprojetopaginainicial{
    height: 230px;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 30px;
}

.titulosobreoprojetopaginainicial{
    margin-left: 22px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.paragrafosobreoprojetopaginainicial{
    margin-left: 22px;
    font-size: 19px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    padding-right: 10px;
}


/* Imagem do Cachorro*/

.dogimagempaginainicial{
    background-color: rgb(173, 173, 173);
    height: 104px;
    position: relative;
    top: 0px;
    border-radius: 15px 15px 0px 0px;
}

.dogimagempaginainicial>img{
    width: 160px;
    position: relative;
    top: 75px;
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 1;
}

@keyframes subirocachorro {
    0% { top: 100px; }
    100% { top: 0px; }
}

/* Area Adote */

.areaporqueadotar{
    background-color: rgb(200, 200, 200);
    animation: subirocachorro 0.8s linear;
    border-radius: 15px 15px 0px 0px;

    padding-bottom: 10px;
}

.sobreadotarpaginainicial{
    background-color: rgb(200, 200, 200);
    margin-top: -1px;
}

.subtitulosobreoprojetopaginainicial{
    margin-top: 70px;
    margin-left: 22px;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

.paragrafosobreadotarpaginainicial{
    padding-right: 10px;
    padding-left: 22px;
    font-size: 19px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    width: 100%;
    padding-bottom: 5px;
    background-color: rgb(200, 200, 200);
}

.paragrafosobreadotarpaginainicial>img{
    width: 25px;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Area Adote JAVA SCRIPT*/

.mais5motivos{
    color: rgb(54, 54, 54);
    padding-left: 42px;
    padding-right: 42px;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding-bottom: 15px;
    display: none;
    animation: verde 1s linear;
}

@keyframes verde {
    0% {opacity: 0%;}
    100% {opacity: 100%;}

}

.mais5motivosesconder1.active{
    display: block;
}

.mais5motivosesconder2.active{
    display: block;
}

.mais5motivosesconder3.active{
    display: block;
}

.mais5motivosesconder4.active{
    display: block;
}

.mais5motivosesconder5.active{
    display: block;
}

/* Correçao embaixo dos 5 motivos */

.posadocao{
    height: 40px;
    margin-top: -1px;
    background-color: rgb(200, 200, 200);
    border-radius: px 0px 15px 15px;
}

/* Sistema de Pontos */

.sistemadepontos{
    margin-top: -10px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px 15px 0px 0px;
    transition: 1s;
    padding-bottom: 40px;
}

.titulosistemadepontospaginainicial{
    position: relative;
    top: 45px;
    margin-left: 22px;
    font-size: 30px;
    color: black;
}

.paragrafosistemadepontospaginainicial{
    margin-left: 22px;
    font-size: 19px;
    color: black;
    margin-top: 50px;
    padding-right: 10px;
}

.paragrafosistemadepontospaginainicial>a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}


/* Metas */

.metas{
    height: 250px;
    background-color: rgb(200, 200, 200);
    border-radius: 15px 15px 0px 0px;
    transition: 1s;
}

.titulometaspaginainicial{
    position: relative;
    top: 45px;
    margin-left: 22px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

#metaaumentar>img , #metadiminuir>img , #dadosaumentar>img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#metaaumentar{
    position: relative;
    top: 70px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    height: 50px;
    background-color: rgb(221, 221, 221);
    width: 90%;
    border-radius: 50px;
    z-index: 1;
}

#metaaumentar>p{
    color: black;
    margin-left: 20px;
    font-size: 18px;
}

.dadosadocao{
    position: relative;
    top: 35px;
    margin: 0 auto;
    height: 0px;
    background-color: rgb(221, 221, 221);;
    width: 90%;
    border-radius: 10px 10px 20px 20px;
    overflow: hidden;
    transition: 1s;
}

.metas.active .dadosadocao{   
    height: 120px;
}

.metas.active{
    height: calc(420px);
}

.dadosadocao>p{
    position: relative;
    top: 40px;
    color: rgb(82, 240, 95);
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.dadosadocao>p>span{
    color: gray;
}

/* CORREÇAO PARA DISPOSITIVOS MOBILE ANTIGO*/

@media (max-width: 340px) 

{
.titulosobreoprojetopaginainicial{
    margin-left: 10px;
}
    
.paragrafosobreoprojetopaginainicial{
    margin-left: 10px;
}

.paragrafosobreadotarpaginainicial>img{
    margin-left: 5px;
}

.subtitulosobreoprojetopaginainicial{
    margin-left: 10px;
    margin-top: 80px;
}

.paragrafosobreadotarpaginainicial{
    padding-right: 5px;
    padding-left: 10px;
}

/* Area Adote JAVA SCRIPT*/

.mais5motivos{
    padding-left: 25px;
}

.titulosistemadepontospaginainicial{
    margin-left: 10px;
}

.paragrafosistemadepontospaginainicial{
    margin-left: 10px;
}


}




